<!DOCTYPE html>
<html lang="en">
<head>
  <!-- <meta charset="UTF-8"> -->
  <meta name="viewport" content="width=device-width initial-scale=1.0	">
  <title>Object Detection</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='static/style.css') }}">
  <script src="{{ url_for('static',filename='static/script.js') }}"></script>
  <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</head>

<body>
<header>
   <h1 align="center"> <a href="/">Object Detection </a></h1> 
</header>
{% if filename %}
  <div class="file-download"> 
    <img class="down-img" src="{{filename}}" alt="your image" />
    <div class="image-wrap">
      <button class="submit-btn"><a href="{{filename}}" download>Download Image</a></button>
    </div>
  </div>
{% else %}
<form action="/upload" method="post" enctype="multipart/form-data" >
  <div class="file-upload">
      <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add Image</button>
      <div class="image-upload-wrap">
        <input class="file-upload-input" type='file' name="image" onchange="readURL(this);" accept="image/*" />
        <div class="drag-text">
          <h3>Drag and drop a file or select add Image</h3>
        </div>
      </div>
      <div class="file-upload-content">
        <img class="file-upload-image" src="#" alt="your image" />
        <div class="image-title-wrap">
          <button type="submit" class="submit-btn">Submit</button>
        </div>
      </div>
    </div>
 </form>
{% endif %}
</body>
</html>
